<% content_for :breadcrumb do %>
  <li><%= link_to @year, year_path(@year) %></li>
  <li><%= @month %></li>
<% end %>

<% content_for :nav do %>
  <% days = @posts.order(:date).distinct.pluck(Arel.sql("STRFTIME('%d', date)")) %>

  <%= render "nav", label: "Day", items: days do |day| %>
    <%= link_to day, year_month_day_path(@year, @month, day) %>
  <% end %>
<% end %>

<% @posts.each do |post| %>
  <%= render "posts/post", post: %>
<% end %>
