<?xml version="1.0" encoding="utf-8"?>

<feed xmlns="http://www.w3.org/2005/Atom">
  <title>pong.ursm.jp</title>
  <link href="<%= root_url %>" />
  <link rel="self" href="<%= feed_url(format: :atom) %>" />
  <link rel="hub" href="https://pubsubhubbub.appspot.com" />
  <id><%= root_url %></id>
  <updated><%= @posts.first.created_at.iso8601 %></updated>

  <% @posts.each do |post| %>
    <entry>
      <title><%= post.title %></title>
      <link href="<%= post_url(post) %>" />
      <id><%= post_url(post) %></id>
      <updated><%= post.updated_at.iso8601 %></updated>
      <content type="html"><%= marksmithed(post.body) %></content>

      <author>
        <name>ursm</name>
      </author>
    </entry>
  <% end %>
</feed>
