<?xml version="1.0" encoding="utf-8"?>

<feed xmlns="http://www.w3.org/2005/Atom">
  <title>pong.ursm.jp</title>
  <link href="<%= root_url %>" />
  <link rel="self" href="<%= feed_url(format: :atom) %>" />
  <link rel="hub" href="https://pubsubhubbub.appspot.com" />
  <id><%= root_url %></id>
  <updated><%= @posts.first.created_at.iso8601 %></updated>

  <% @posts.each do |post| %>
    <% y, m, d = [ post.date.year ] + [ post.date.month, post.date.day ].map { _1.to_s.rjust(2, "0") } %>

    <entry>
      <title><%= post.date %></title>
      <link href="<%= year_month_day_url(y, m, d) %>" />
      <id><%= year_month_day_url(y, m, d) %></id>
      <updated><%= post.created_at.iso8601 %></updated>

      <content type="html">
        <![CDATA[<%= post.rendered_body %>]]>
      </content>

      <author>
        <name>ursm</name>
      </author>
    </entry>
  <% end %>
</feed>
