<%# locals: (post:) %>

<% unless post.errors.empty? %>
  <ul>
    <% post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: post, url: [ :admin, post ] do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, required: true, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :body, "Body", class: "form-label" %>
    <%= form.marksmith :body, class: "form-control", required: true %>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
<% end %>
