<!DOCTYPE html>

<html>
  <head>
    <title>pong.ursm.jp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="alternate" type="application/atom+xml" href="<%= feed_url(format: :atom) %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container stack">
      <nav class="stack">
        <ol class="unstyled breadcrumb m-0">
          <li><%= link_to 'pong.ursm.jp', :root %></li>
          <%= yield :breadcrumb %>
        </ol>

        <% if content_for?(:nav) %>
          <%= yield :nav %>
        <% end %>
      </nav>

      <hr class="m-0" />

      <main class="stack">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
